/*----------------1.1 Preloader Starts------------------*/

#preloader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0px;
    background-color: #000;
}

.small2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    top: 50vh;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50vh;
    left: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: transparent;
}

.bigcon {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 50vh;
    left: 50%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: transparent;
    -webkit-animation: bigcon 2s infinite linear;
    animation: bigcon 2s infinite linear;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.ball {
    border-radius: 50%;
    position: absolute;
}

.small {
    width: 25px;
    height: 25px;
    -webkit-animation: small 2s infinite ease;
    animation: small 2s infinite ease;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
}

.small:nth-child(1) {
    top: 0%;
    left: 0%;
}

.small:nth-child(2) {
    top: 0%;
    right: 0%;
}

.small:nth-child(3) {
    right: 0%;
    bottom: 0%;
}

.small:nth-child(4) {
    bottom: 0%;
    left: 0%;
}

.big {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    z-index: 1;
    -webkit-animation: bigball 1s infinite linear;
    animation: bigball 1s infinite linear;
}

.smallball1 {
    -webkit-animation-delay: -1.75s;
    animation-delay: -1.75s;
}

.smallball6 {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.smallball2 {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
}

.smallball7 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.smallball3 {
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

.smallball8 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.smallball4 {
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.smallball5 {
    -webkit-animation-delay: -0s;
    animation-delay: -0s;
}

@-webkit-keyframes bigcon {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

@keyframes bigcon {
    0% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
        transform: translate(-50%, -50%) rotate(405deg);
    }
}


/*----------------1.1 Preloader Ends------------------*/